.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.git-old
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# The purpose of the drop.js gitignore is that drop.js is the
# development version of the @dropilcoin/dropjs npm package
src/drop.js
public/assets/css
public/assets/css/*