$c-border: #353E4C;
$c-header: #1c2431;
$c-footer: #1c2431;
$c-bg: #242d3c;
$c-well-bg: #222A3A;

$shadow-light: $shadow-dark;

$c-brand: #20abec;
$c-black: #91a5bf;
$c-dark-green: $c-green;

$c-alt-bg: #19212f;
$c-popup-bg: $c-alt-bg;
$c-block-h3: $c-white;
$c-file-upload-bg: #3a495f;
$c-popup-border: $c-border;